# PyTorch and related libraries
# assuming latest stable CUDA version 12.8 as of April 2025.
# modified from https://github.com/ziyc/drivestudio/blob/main/requirements.txt
# --extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
xformers
timm
pytorch_msssim

omegaconf
torchmetrics

tensorboard
wandb
matplotlib
plotly
viser

imageio
imageio-ffmpeg
scikit-image
opencv-python

open3d # requires python <= 3.12 as of 25-April-2025
pyquaternion
chumpy
numpy<2.0
kornia

tqdm
gdown

nerfview
lpips

# smplx  # this was bundled with the original drivestudio code. Why not use the one from pip?